html, body, #map-canvas
  margin: 0
  padding: 0
  height: 100%

a 
  text-decoration: none

button
  outline: 0

section
  max-width: 960px
  margin: 0 auto

.row
  width: 100%

.center-block
  margin: 0 auto

.center-inline
  text-align: center

.signup_form, .header
  width: 30%
  min-width: 350px
  margin: 5px auto 0 auto
  text-align: center

.input-group
  margin: 10px 0
  .form-addon
    width: 5%
    min-width: 100px

.signup-anchor
  margin-left: 30px

.main_map
  #map-canvas
    max-width: 960px
    min-height: 500px
    width: 90%
    margin: 0 auto
  .check_in_btns
    margin-top: 10px

  .info_window_container
    position: relative
    top: -10px
    a
      display: block
  .save_marker
    margin-top: 10px
