!!!
html
  head
    title Map Tagging
    link(href='styles/bootstrap-theme.min.css', rel='stylesheet', type='text/css')
    link(href='styles/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='styles/main.css', rel='stylesheet', type='text/css')
    script(src='lib/angular.min.js')
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
  body
    nav.navbar.navbar-default(role="navigation")
      h2.header Let's Tag
    section
        .row
            .box
              #map-canvas
                        

    script(src='lib/jquery-1.11.0.min.js')
    script(src='js/main.js')