!!!
html
  head
    title Map Tagging
    link(href='styles/main.css', rel='stylesheet', type='text/css')
    script(src='lib/angular.js')
  body
    h1 test1
    a(href="#") tag
    script(src='lib/jquery-1.11.0.min.js')
    script(src='js/main.js')