!!!
html
  head
    title Map Tagging
    link(href='styles/bootstrap-theme.min.css', rel='stylesheet', type='text/css')
    link(href='styles/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='styles/main.css', rel='stylesheet', type='text/css')
    script(src='lib/angular.min.js')
  body
    nav.navbar.navbar-default(role="navigation")
    form(class='signup_form')
        .input-group
            span.input-group-addon username
            input.form-control
        .input-group
            span.input-group-addon password
            input.form-control
        .input-group
            span.input-group-addon name
            input.form-control
    script(src='lib/jquery-1.11.0.min.js')
    script(src='js/main.js')